<!-- <h4>Thank you for your contribution!</h4> -->

<h1><%= @meeting.name %></h1>
<h2><%= @meeting.address %></h2>

<%# check to see if meeting was created by the current user. if so, show an edit button %>
<% if @meeting.user == current_user %>
    <%= link_to "Edit Meeting", edit_meeting_path(@meeting.id) %>
    ||
    <%# link_to "Delete Meeting", meeting_path(@meeting.id), {method: 'delete'} %> 
    <span id="modal" data-toggle="modal" data-target="#exampleModal">Delete Meeting</span>
<% end %>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Meeting</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this meeting?
            </div>
            <div class="modal-footer">
                <%= link_to "Yes", meeting_path(@meeting.id), {method: 'delete'} %> 
            </div>
          </div>
        </div>
      </div>
