<!-- <h1>Welcome to</h1> -->

<h1>AAroundLA</h1>


<!-- <li>Easiest and quickest way to look up AA meetings close to you.</li>
<li>Help others find an awesome meeting. Add a meeting and/or a review to the directory!</li> 
<li>Honest ratings and reviews.</li> 

<br><br>
<h2>My Vision</h2>
<p>To create a place where anyone can go to find, post and rate the AA meetings they have attended. 
    <br>Bring people together in the program and lay a solid foundation on their road to recovery.</p> -->

    <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    The Mission
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Make the quickest and easiest way to look up and find an AA meeting close to you. Laying a solid foundation is key to anyone's success on their road to recovery. Finding and showing up to meetings will start you down that path.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Want to Help?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    It's easy! Just sign up and add a meeting to the directory. Help others find meetings in their area.  
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Future Applications
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Give people a way to review and rate AA meetings they have attended<br>Users who sign up, can message each other.<br>Expand the scope of the project to other major cities.
                </div>
              </div>
            </div>
          </div>